@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
    <header></header>
    <body>
       <form method="post" action="MonthlyEmi/Output">
      <br />
      <label>Principal Amount : </label>
     <input type="text" name="principal">
     <br> <br>
     <label>Rate of Interest : </label>
     <input type="text" name="rate">
     <br> <br>
     <label>Loan Duration : </label>
     <input type="text" name="duration">
     <br> <br>
     <br><br>
     <input type="submit" value="Submit">
     </form>
    </body>
</html>
